<aside class="left-sidebar">
  <div class="scroll-sidebar" style="position:relative">
    <nav class="sidebar-nav">
      <!--<div class="profile-pic">
    <img src="img/user.jpg" class="img-circle" alt="profile-pic"/>
    </div>-->
      <ul id="sidebarnav">
        <li class="profile-pic">


<img src={{profile_pic_main}} class="img-responsive" />
          <span class="displayNone user2-name"> &nbsp;&nbsp; {{name}}
            <br> &nbsp;&nbsp; {{designation}}
            </span>

        </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/profile" routerLinkActive="active" aria-expanded="false">
            <img src="./assets/imgs/prifile-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; My Profile</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/patients/list" routerLinkActive="active" aria-expanded="false">
            <img src="./assets/imgs/patient-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; Patients List</span>
          </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" routerLink="/patients/Addlist" routerLinkActive="active" aria-expanded="false">
              <img src="./assets/imgs/add-list-icon.png" alt="icon" />
              <span class="hide-menu"> &nbsp;Add Patient Reading</span>
            </a>
          </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/patients/add" routerLinkActive="active" aria-expanded="false">
            <img src="./assets/imgs/add-list-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; Add Patient</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark" (click)="logout()" aria-expanded="false">
            <img src="./assets/imgs/logout-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>