<div class="fix-header fix-sidebar card-no-border">
  <div id="main-wrapper">
    <app-headerlogin></app-headerlogin>
    <app-leftpane></app-leftpane>
    <div class="page-wrapper">
      <div class="container-fluid section-margin-top">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-txt">
            <h2>Profile</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
            <div class="box-bg-color profile-pic2">
              <div class="text-center">
                <img src="./assets/imgs/big-user.jpg" alt="profile-pic" class="img-responsive" />

                <h1>Martin Smith</h1>
                <h2>34 Years</h2>
              </div>

              <address class="text-center">795 Folsom Ave, Suite 600
                <br>San Francisco, CADGE 94107</address>
            </div>
          </div>
          <div class="col-lg-8  col-md-7 col-sm-12 col-xs-12 ipadmarginTop ipadmarginTopMobile">
            <div class="box-bg-color2">
              <h3>About Me</h3>
              <hr>
              <p>Martin Smith is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen.</p>
              <h3 style="padding-top:10px;">Personal Information</h3>
              <hr>
              <p class="padT15">
                <strong>Email : </strong> m_smith34@gmail.com</p>
              <p>
                <strong>Contact No. : </strong>+1 394857382</p>
              <p>
                <strong>Gender : </strong>Male</p>
              <p>
                <strong>Height :</strong> 5'11</p>
              <p>
                <strong>Weight : </strong>85kg</p>
            </div>
          </div>

        </div>

      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>