<div class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
      <ngx-loading [show]="loading"></ngx-loading>
      <app-headerlogin></app-headerlogin>
      <app-leftpanedr></app-leftpanedr>
      <div class="page-wrapper">
  
          <div class="container-fluid section-margin-top">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row" >
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reading-txt">
                    <div class="row">
                      <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <h2>My Patients List</h2>
                      </div>
                    </div>
      
                    
                      <div class="table-responsive" *ngIf="patientlist.length > 0;else nodata">
      
                        <table class="table table-hover custome-table">
                          <thead>
                            <tr>
                              <th>Name</th> 
                              <th>Email</th> 
                              <th>Contact No</th> 
                              <th>Action</th>
                            </tr>
                          </thead> 
                          <tbody>
                            <tr *ngFor="let listTable of patientlist " [routerLink]="['/Add/patient/reading/',listTable.patient_id]"  style="cursor: pointer;">
                              <td >{{listTable.patient_name}}</td> 
                              <td >{{listTable.patient_Email}}</td> 
                              <td >{{listTable.patient_contact_no}}</td> 
                              <td>
                                <a [routerLink]="['/Add/patient/reading/',listTable.patient_id]">
                                  <!-- <img src="./assets/imgs/eye.png" /> -->
                                  <button class="btn btn-info">Add Reading</button>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    
                  </div>
                </div>
                <ng-template #nodata>
                  <h4 style="text-align: center;">No Patient Found.Add New Patient</h4>
                </ng-template>
              </div>
            </div>



       
        <app-footer></app-footer>
      </div>
    </div>
  </div>