.example-tab-icon {
    margin-right: 8px;
  }
  .error{
    color: red;
    font-size: 20px;
    
    }
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 9px !important;
    }
