<div class="fix-header fix-sidebar card-no-border">
  <div id="main-wrapper">
    <app-headerlogin></app-headerlogin>
    <app-leftpanedr></app-leftpanedr>
    <div class="page-wrapper">
      <div class="container section-margin-top">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form name="" method="post" action="" class="custome-form">
                <h2>ADD PATIENT</h2>
                <hr>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="" id="" class="form-control form-control1 input-marginTop" required placeholder="First Name">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="" id="" class="form-control form-control1 input-marginTop" required placeholder="Last Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="email" name="" id="" class="form-control form-control1 input-marginTop" required placeholder="Email">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="" id="" class="form-control form-control1 input-marginTop" required placeholder="Mobile">
                  </div>
                </div>
                <div class="row" style="padding-top:20px;">
                  <div class="col-md-12 col-sm-12">
                    <h2>ASSIGN FORMS</h2>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="checkbox padT">
                      <input type="checkbox" id="ch1" name="" value="">
                      <label for="ch1"> &nbsp; Headache</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="checkbox padT">
                      <input type="checkbox" id="ch2" name="" value="">
                      <label for="ch2"> &nbsp; Fever</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="checkbox padT">
                      <input type="checkbox" id="ch3" name="" value="">
                      <label for="ch3"> &nbsp; Stomach Infection</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="checkbox padT">
                      <input type="checkbox" id="ch4" name="" value="">
                      <label for="ch4"> &nbsp; Dengue</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="checkbox padT">
                      <input type="checkbox" id="ch5" name="" value="">
                      <label for="ch5"> &nbsp; Backpain</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="checkbox padT">
                      <input type="checkbox" id="ch6" name="" value="">
                      <label for="ch6"> &nbsp; Throat Infection</label>
                    </div>
                  </div>
                </div>

                <div class="row row-marginTop">
                  <div class="col-sm-12">
                    <button type="" class="btn btn-large btn-success submit-btn pull-right">SUBMIT</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>