<aside class="left-sidebar">
  <div class="scroll-sidebar" style="position:relative">
    <nav class="sidebar-nav">
      <!--<div class="profile-pic">
            <img src="img/user.jpg" class="img-circle" alt="profile-pic"/>
            </div>-->
      <ul id="sidebarnav">
        <li class="profile-pic">

          <img src="../assets/imgs/user.jpg" class="img-responsive" alt="profile-pic" />
          <span class="displayNone user1-name"> &nbsp; Mortin Smith
            <br> &nbsp; 34 Years</span>

        </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/readings/list" routerLinkActive="active" aria-expanded="false">
            <img src="../assets/imgs/list-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; My Readings</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/readings/add" routerLinkActive="active" aria-expanded="false">
            <img src="../assets/imgs/add-list-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; Add New Reading</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/myprofile" routerLinkActive="active" aria-expanded="false">
            <img src="../assets/imgs/prifile-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; My Profile</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark" routerLink="/"  aria-expanded="false">
            <img src="../assets/imgs/logout-icon.png" alt="icon" />
            <span class="hide-menu"> &nbsp; Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>