<app-headerlogin></app-headerlogin>
<div class="fix-header fix-sidebar card-no-border">
  <div id="main-wrapper">
    
    <app-leftpanedr></app-leftpanedr>
    <div class="page-wrapper">
        <ngx-loading [show]="loading"></ngx-loading>
      <div class="container section-margin-top">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              
              <form id="addpatientForm" [formGroup]="addpatientForm" (submit)="addDoctorPatient()" novalidate="novalidate" class="custome-form">
                  <div>
                      <span [innerHTML]="theHtmlString" class="error"></span>
                      <br/>
                    </div>
                <h2>ADD PATIENT</h2>
                <hr>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div *ngIf="submitted && f.fname.errors" class="error">
                          <div *ngIf="f.fname.errors.required">First Name is required</div>
                      </div>

                    <input type="text" formControlName="fname" id="fname" name="fname" class="form-control form-control1 input-marginTop" required
                      placeholder="First Name" autofocus="autofocus" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">

                     



                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div *ngIf="submitted && f.lname.errors" class="error">
                          <div *ngIf="f.lname.errors.required">Last Name is required</div>
                      </div>
                    <input type="text" formControlName="lname" id="lname" name="lname" class="form-control form-control1 input-marginTop" required
                      placeholder="Last Name" autofocus="autofocus" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div *ngIf="submitted && f.pemail.errors" class="error">
                          <div *ngIf="f.pemail.errors.required">Email is required</div>
                          <div *ngIf="f.pemail.errors.email">please add a valid email</div>
                      </div>
                    <input type="email" formControlName="pemail" id="pemail" name="pemail" class="form-control form-control1 input-marginTop"
                      required placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.pemail.errors }">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div *ngIf="submitted && f.pmobile.errors" class="error">
                          <div *ngIf="f.pmobile.errors.required">Mobile number is required</div>
                          <div *ngIf="f.pmobile.errors.pattern">
                            Mobile number not valid.
                          </div> 
                      </div>
                    <input type="text" maxlength="15" formControlName="pmobile" id="pmobile" name="pmobile" class="form-control form-control1 input-marginTop"
                      required placeholder="Mobile" [ngClass]="{ 'is-invalid': submitted && f.pmobile.errors }" pattern="^(?:(?:\+|0{0,2})([0-9]?[0-9])(\s*[\-]\s*)?|[0]?)?[789]\d{0,12}$">
                  </div>
                </div>
                <div class="row" style="padding-top:20px;">
                  <div class="col-md-12 col-sm-12">
                    <h2>ASSIGN FORMS</h2>
                    <hr>
                  </div>
                </div>
                <div class="row">
                   
                  <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let list of formlist">
                    
                    <div class="checkbox padT">
                      <input type="checkbox" formControlName="form_list" id="ch_{{list.id}}" required (change)="onChange(list.id, $event.target.checked)" name="form_list" value="{{list.id}}">
                      <label for="ch_{{list.id}}"> &nbsp; {{list.form_name}}</label>
                    </div>
                  </div>
                  

                </div>
                <span [innerHTML]="theHtmlStringFormselect" class="error"></span>
                <!-- <div *ngIf="submitted && f.form_list.errors" class="error">
                    <div *ngIf="f.form_list.errors.required">At least one Form is required</div>
                </div> -->


                <div class="row row-marginTop">
                  <div class="col-sm-12">
                    <button type="" class="btn btn-large btn-success submit-btn pull-right">SUBMIT</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
